/**{*/
/*    background-color: #ced9dd;*/
/*}*/
body{
    background-color: #7B8E9F;
    font-family: 'Cormorant Garamond', serif;
}
#navbarImg{
    height: 45px;
    width: 45px;
    background-color: transparent;
}
.navbar{
    font-family: 'Cormorant Garamond', serif;
    background:linear-gradient(180deg, #A2B3C2, #7B8E9F);

    height: 80px;
    text-decoration-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}


.card{
    /*width: 800px;*/
    /*height: 400px;*/
    border: solid 4px black;
    background-color: #C1CDD3;
}
.card img {
    margin-left: .5em;
    border: black 1px solid;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    margin-top: 125px;
    margin-bottom: 100px;
}

#weatherInfo{

    max-height: 50px;

    margin: auto;

}
#weatherInfo img{
    height: 40px;
    width: 40px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}
#weatherInfoBody{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

#calendar{
    background-color: white;
    height: 400px;
    /*width: 620px;*/
}
#eventCardsArea{
    margin: 4em;
    display: flex;
    justify-content: space-evenly;

}
#cardscontainer{
    display: flex;
    justify-content: space-around ;
}
/*carousel*/
.carousel-caption{
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 50px*/
    border: solid red 2px;
    color: gold;
    font-size: 20px;
    text-outline: black;
    margin-bottom: 450px;
    opacity: 1;
    /*background-color: #A2B3C2;*/
}
.carousel-caption h5{
    font-size: 40px;
}
.carousel-item{
    opacity: .8;
}