/**{*/
/*    background-color: #ced9dd;*/
/*}*/
body{
    background-color: #ced9dd;
    font-family: 'Cormorant Garamond', serif;
}
#navbarImg{
    height: 35px;
    width: 35px;
}
.navbar{
    font-family: 'Cormorant Garamond', serif;
    background-color: #f6f6f4;
}
.carousel-inner{
   height: 70vh;
    margin: 1em;
}
.carousel-inner img {

    border: solid 5px antiquewhite;
    max-width: 70%;
    max-height: 80%;
    margin: auto; /* center the image horizontally */
}
#weatherInfo img{
    height: 50px;
    width: 50px;
}
.card{
    width: 1000px;
    border: solid 2px black;
}
.card img {
    margin-left: .5em;
    border: black 1px solid;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    margin-top: 125px;
}
#icons area .fa{


}
