/**{*/
/*    background-color: #ced9dd;*/
/*}*/
body{
    background-color: #ced9dd;
    font-family: 'Cormorant Garamond', serif;
}
#navbarImg{
    height: 35px;
    width: 35px;
}
.navbar{
    font-family: 'Cormorant Garamond', serif;
    background-color: #f6f6f4;
    height: 80px;
}
.carousel-inner{
   height: 70vh;
    margin: 1em;
}
.carousel-inner img {

    border: solid 5px antiquewhite;
    max-width: 70%;
    max-height: 80%;
    margin: auto; /* center the image horizontally */
}

.card{
    width: 800px;
    border: solid 2px black;
}
.card img {
    margin-left: .5em;
    border: black 1px solid;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    margin-top: 125px;
    margin-bottom: 100px;
}
#icons area .fa{


}
/*.card-body{*/
/*    margin-top: 100px;*/

/*}*/
#weatherInfo{

    max-height: 50px;

    margin: auto;

}
#weatherInfo img{
    height: 40px;
    width: 40px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}
#weatherInfoBody{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

#calendar{
    background-color: white;
    height: 400px;
    width: 620px;
}
#eventCardsArea{
    margin: 4em;
    display: flex;
    justify-content: space-evenly;

}
#cardscontainer{
    display: flex;
    justify-content: space-around ;
}